#container {
  height: 100px; /* equals max image height */
  width: 100px;
  white-space: nowrap;

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    vertical-align: middle;
    margin: auto;
    max-height: 100px;
    max-width: 100px;
  }
}
