<div id="inventory">
  <div id="inventory-header">
    <form (submit)="search()" action="#">
      <mat-form-field class="example-form-field">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchString" name="first">
        <button class="btn btn-outline-dark" type="button" *ngIf="searchString" matSuffix mat-icon-button aria-label="Search" (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <div class="right">
      <button class="btn btn-outline-dark" type="button"  mat-icon-button aria-label="Search" (click)="update()">
        <mat-icon>refresh</mat-icon>
      </button>
      <app-product-new (onCreate)="update()"></app-product-new>
    </div>
  </div>
  <table [dataSource]="products"
         class="mat-elevation-z2"
         mat-table
         multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let element" mat-cell> {{ element.attributes?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th *matHeaderCellDef mat-header-cell> Currency</th>
      <td *matCellDef="let element" mat-cell> {{ element.attributes?.currency }}</td>
    </ng-container>

    <ng-container matColumnDef="nation">
      <th *matHeaderCellDef mat-header-cell> Nation</th>
      <td *matCellDef="let element" mat-cell> {{ element.attributes?.nation }}</td>
    </ng-container>

    <ng-container matColumnDef="era">
      <th *matHeaderCellDef mat-header-cell> Era</th>
      <td *matCellDef="let element" mat-cell> {{ element.attributes?.era }}</td>
    </ng-container>

    <ng-container matColumnDef="denomination">
      <th *matHeaderCellDef mat-header-cell> Denomination</th>
      <td *matCellDef="let element" mat-cell> {{ element.attributes?.denomination }}</td>
    </ng-container>

    <ng-container matColumnDef="unit">
      <th *matHeaderCellDef mat-header-cell> Unit</th>
      <td *matCellDef="let element" mat-cell> {{ element.attributes?.unit }}</td>
    </ng-container>

    <ng-container matColumnDef="coin_count">
      <th *matHeaderCellDef mat-header-cell> Coins</th>
      <td *matCellDef="let element" mat-cell> {{ element.relationships.coins.data.length }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element; let i = dataIndex;" mat-cell app-stop-propagation>
        <app-coin-new [product]="element" (onCreate)="update()"></app-coin-new>
        <button mat-icon-button class="btn btn-outline-dark" type="button">
          <mat-icon>post_add</mat-icon>
        </button>
        <app-product-delete (onDelete)="update()" [product]="products[i]"></app-product-delete>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td *matCellDef="let element" [attr.colspan]="displayedColumns.length" mat-cell>
        <div *ngIf="element == expandedElement" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
             class="element-detail">
          <app-inventory-coin [(product)]="expandedElement"></app-inventory-coin>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="expandedElement = expandedElement === element ? null : element" *matRowDef="let element; columns: displayedColumns;"
        [class.expanded-row]="expandedElement === element"
        class="element-row"
        mat-row>
    </tr>
    <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>
  </table>
</div>
