#inventory {
  margin: 50px auto auto;
  width: 800px;

  #inventory-header {
    margin: 100px auto auto;
    height: 50px;

    :last-child {
      float: right;
    }
  }

  table {
    width: 100%;

    tr.element-row:not(.expanded-row):hover {
      background: whitesmoke;
    }

    tr.element-row:not(.expanded-row):active {
      background: #efefef;
    }

    .element-row td {
      border-bottom-width: 0;
    }

    .element-detail {
      overflow: hidden;
      display: flex;
    }

    tr.detail-row {
      height: 0;
    }
  }
}
