<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Coin</h4>
    <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="product-card">
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input [(ngModel)]="coin.attributes.location"
               matInput
               placeholder="Ex. bin 37"
               value="{{ coin?.attributes.location }}">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Condition</mat-label>
        <input [(ngModel)]="coin.attributes.condition"
               matInput
               placeholder="Ex. poor, scratched"
               value="{{ coin?.attributes.condition }}">
      </mat-form-field>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close('Save click'); send()" class="btn btn-outline-dark" mat-icon-button type="button">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</ng-template>

<button (click)="open(content)" mat-icon-button>
  <mat-icon>playlist_add</mat-icon>
</button>
