<div (fileDropped)="filesAppended($event)" app-drag-and-drop class="container">
  <input (change)="filesAppended($event.target.files)" multiple type="file"/>
  <mat-icon>cloud_upload</mat-icon>
</div>

<div id="bundles">
  <div (fileDropped)="filesInserted($event, i)" *ngFor="let bundle of bundles; let i = index" app-drag-and-drop
       class="bundle">
    <div class="files">
      <div *ngFor="let image of bundle" class="file">
        {{ image.attributes.name }}
      </div>
    </div>
    <div>
      <button mat-icon-button>
        <input (change)="filesInserted($event.target.files, i)" multiple type="file">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </div>
    <button (click)="delete(i)" class="delete" mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
