:host {
  width: 100%;
  table {
    margin: 5px 0px;
    width: 100%;
  }
}
table {
  width: 100%;

  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;
  }

  tr.detail-row {
    height: 0;
  }
}
